body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    font-family: Georgia, serif;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    margin-right: 10px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 10px;
    margin-bottom: 40px;
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.title {
    margin-bottom: 10px;
    font-weight: bold;
}
